<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <meta charset="UTF-8">
        <title>change password</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Change Password</h4>
                    <form th:action="@{/user/saveChangedPassword}" th:object="${passwordDTO}" method="POST">
                        <input type="password" class="input-lg form-control" name="oldPassword"
                               placeholder="Old Password" autocomplete="off">
                        <input type="password" class="input-lg form-control" name="password" placeholder="Password"
                               autocomplete="off">
                        <input type="password" class="input-lg form-control" name="confirmPassword"
                               placeholder="Confirm Password" autocomplete="off">
                        <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                               data-loading-text="Changing Password..." value="Change Password">
                    </form>
                    <p class="help-block">
                        <a class="text-muted" href="/user/info" id="acceso">
                            <small>Account Access</small>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
