<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">


    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <title>forgot password</title>
    </head>

    <body>
        <div class="col-md-3">
            <div id="form-olvidado">
                <h4 class=""> Forgot your password? </h4>

                <form accept-charset="UTF-8" th:action="@{/forgotPassword}" method="post">
                    <fieldset>
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                             @
                            </span>
                            <input class="form-control" placeholder="Email" name="email" type="email" required="">
                        </div>
                        <label th:if="${noEmail}" th:text="${noEmail}"></label>
                        <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                            Continue
                        </button>
                        <p class="help-block">
                            <a class="text-muted" href="/login" id="acceso">
                                <small>Account Access</small>
                            </a>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>