<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <meta charset="UTF-8">
        <title>reset password</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Change Password</h4>
                    <form th:action="@{/updatePassword}" th:object="${passwordDTO}" method="POST">
                        <input type="password" th:field="*{password}" class="input-lg form-control"
                               name="newPassword" placeholder="New password" autocomplete="off">
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>

                        <input type="password" th:field="*{confirmPassword}" class="input-lg form-control"
                               name="confirmPassword" placeholder="Confirm password" autocomplete="off">
                        <label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></label>

                        <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                               data-loading-text="Changing Password..." value="Change Password">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>